name = "PngApp"

love_files = [
    "::git-ls-tree::",
    "-*/.*",
    "-./libs/*"
]

# build for win64, linux, and macos (TODO)
default_targets = ["win64", "appimage"]

build_directory = "build"

[archive_files]
"Readme.md" = "Readme.md"
"LICENSE" = "LICENSE"

[windows]
[windows.exe_metadata]
FileDescription = "{name} {version}"
FileVersion = "{version}"
CompanyName = "Marcus Collins"
LegalCopyright = ""
ProductName = "{name}"
ProductVersion = "{version}"
OriginalFilename = "{name}.exe"

[win64]
shared_libraries = [
	"libs/win64/nuklear.dll"
]

[linux]
[linux.desktop_file_metadata]
Comment = "A PngTuber app made with Love"
Categories = "Game;"

[appimage]
shared_libraries = [
	"libs/linux-x86_64/nuklear.so"
]

